authorization.xcscheme
authorization/Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/Alamofire.xcscheme
authorization/Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/Pods-authorization.xcscheme
